<app-default-home> 
    <div class="left-box">
        <div class="quiz-title">{{ quiz.area_nome }}</div>
        <div class="quiz-nivel">{{ quiz.nivel_display }}</div>

        <div class="timer">
            <span>Cronômetro</span>
            <div>{{ timerDisplay }}</div>
        </div>

        <div class="score-box">
            <div><strong>Pontuação:</strong></div>
            <div>{{ score }}</div>
        </div>

        <div class="question-count">
            <div><strong>Questão</strong></div>
            <div>{{ currentQuestion }}/{{ totalQuestions }}</div>
        </div>

        <div class="correct-answers">
            <div><strong>Acertos:</strong></div>
            <div>{{ correctAnswers }}</div>
        </div>

        <button (click)="abandonar()" class="quit-button">Abandonar Quiz</button>
    </div>

        <!-- question.component.html -->
    <div class="question-container" *ngIf="quiz.conteudos.length > 0">
        <div class="question-box" *ngIf="currentPergunta">

            <!-- Cabeçalho da pergunta -->
            <div class="question-card">
            <div class="question-header">
                <span class="conteudo">{{ currentConteudo.conteudo_nome }}</span>
            </div>

            <!-- Texto da pergunta -->
            <div class="question-text">
                {{ currentPergunta.pergunta }}
            </div>
            </div>

            <!-- Botões de resposta -->
            <div class="options">
            <button 
                *ngFor="let resposta of currentPergunta.respostas"
                (click)="responder(resposta)"
                class="option">
                {{ resposta.resposta }}
            </button>
            </div>
        </div>
    </div>

    <div class="loading-overlay" *ngIf="carregandoEnvio">
        <div class="spinner"></div>
        <p>Enviando suas respostas...</p>
    </div>

</app-default-home>

