@import "../../../styles/variables.sass"

section
  background-color: white
  border-radius: 10px
  display: flex
  box-shadow: 0 4px 12px rgba(0,0,0,0.1)
  flex-direction: row;
  align-items: start;
  height: 100%;
  flex: 1;

.ranking
  padding: 0 1rem
  flex-direction: column
  align-items: center

  h2
    margin-top: .6rem
    margin-bottom: .4rem
    font-size: 1.5rem
    color: $text-color

  .ranking-list-viewport
    height: 60%
    width: 100%
    margin: 1rem auto
    padding: 0.5rem
    border: 1px solid #e0e0e0
    border-radius: 12px
    background: #fafafa
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05)

  .ranking-card
    display: flex
    align-items: center
    gap: 1rem
    background: white
    padding: 0.75rem 1rem
    margin-bottom: 0.5rem
    border-radius: 10px
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05)
    transition: transform 0.2s ease
    &:hover
      transform: scale(1.02)

  .ranking-icon
    font-size: 17px
    width: 40px
    text-align: center

  .medal
    font-size: 24px

  .gold
    color: #ffd700

  .silver
    color: #c0c0c0

  .bronze
    color: #cd7f32

  .position
    font-weight: bold
    color: $text-color

  .ranking-info
    display: flex
    flex-direction: column

  .team-name
    font-weight: 600
    font-size: 16px
    color: $text-color

  .team-points
    font-size: 14px
    color: $primary-color

.mid
  height: 100%;
  width: 45%;
  
  .sectionForm
    height: 45%;
    align-items: center
    padding: 0 25px 0 0;

    img
      border-radius: 10px 0 0 10px

    .quizForm
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex: 1;

      .full-width
        width: 100%;

      .btn-quiz
        width: 100%;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        background-color: transparent;
        padding: 12px 24px;
        cursor: pointer;
        background-color: $primary-color;
        color: white;
        box-shadow:0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);

        &:disabled
          opacity: 0.8;
          
  .sectionStatistics
    height: 50%
    padding: 0 7px 0 0
    margin-top: 35px
    justify-content: flex-end
    align-items: center
    gap: 60px

.sectionMatches
  padding: 15px
  align-items: center
  flex-direction: column
  flex: 1
  height: 100%

  h2
    margin-top: 1rem
    margin-bottom: 1rem
    font-size: 1.5rem
    color: $text-color

  .viewport
    height: 90%
    width: 100%
    border: 1px solid #e0e0e0
    border-radius: 8px
    padding: 0.5rem
    background-color: #f9f9f9
    overflow: auto

  .item-card
    background-color: #ffffff
    border-radius: 12px
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)
    padding: 1rem
    margin-bottom: 0.75rem
    display: flex
    flex-direction: column
    font-family: Arial, sans-serif
    transition: transform 0.2s ease
    &:hover
      transform: scale(1.02)

  .item-header
    display: flex
    justify-content: space-between
    margin-bottom: 0.5rem
    font-size: 14px
    font-weight: 500
    color: $gray-bg

  .item-date
    color: $text-color

  .item-area
    background-color: $secondary-color
    padding: 0.2rem 0.5rem
    border-radius: 8px
    font-size: 13px
    color: $primary-color

  .item-footer
    display: flex
    justify-content: flex-start
    align-items: center
    font-size: 14px

  .item-label
    margin-right: 0.5rem
    font-weight: 600
    color: $text-color

  .item-pontos
    font-size: 16px
    font-weight: bold
    color: $primary-color
  
  .mensagem-vazia
    text-align: center
    padding: 2rem
    font-size: 16px
    color: $text-color
    font-style: italic


      
